body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.hover-box:hover {
  cursor: pointer;
}


